@using IM.UseCases.Dtos.Enums
@model ProductDto
@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item"><a asp-controller="Product" asp-action="Index">Product</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Create</li>
                </ol>
            </nav>
        </div>
        <div class="col-md-12">
            <h2 class="text-primary">@ViewData["Title"]</h2>
        </div>
        <div class="col-md-12">
            <form method="post">
                <fieldset>
                    <div class="form-group">
                        <label asp-for="Name" class="form-label mt-4"></label>
                        <input asp-for="Name" class="form-control">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="form-label mt-4"></label>
                        <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="form-label mt-4">Category</label>
                        <select id="selectCategory" class="form-select"></select>
                    </div>
                    <select class="js-data-example-ajax form-select" ></select>
                    <div class="form-group pt-4">
                        <button type="submit" class="btn btn-primary">Create</button>
                        <a asp-controller="Product" asp-action="Index" class="btn btn-secondary">Back to List</a>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    } 

    <script>
        $(document).ready(function () {
            $('.js-data-example-ajax').select2({
                ajax: {
                    url: '/Product/CategoriesDropdown',
                    dataType: 'json'
                },
            });


            $('#selectCategory').select2({
                placeholder: '--Select Category--',
                width: '350px',
                allowClear: true,
                ajax: {
                    type: "GET",
                    dataType: 'json',
                    url: '/Product/CategoriesDropdown',
                    data: function(params) {
                        return {
                            term: params.term || '',
                            page: params.page || 1
                        }
                    },
                    cache: true
                },
                processResults: function (data) {
                    return {
                        results: $.map(data, function (item) {
                            return {
                                text: item.Text,
                                id: item.Id,
                            }
                        })
                    }
                },
            });
        })

    </script>
}